
<div class="container brushido-wrapper">
  <div class="row save-clear">
    <div class="col-xl-12">
      <div class="row">
        <div class="col-xl-12 text-right">
          <button data-toggle="tooltip" data-placement="bottom" title="Export to image" type="button" class="btn btn-primary" (click)="rasterize();">
            <i class="fa fa-download" aria-hidden="true"></i> Export to image</button>
          <button data-toggle="tooltip" data-placement="bottom" title="Export to SVG" type="button" class="btn btn-primary" (click)="rasterizeSVG();">
            <i class="fa fa-download" aria-hidden="true"></i> Export to SVG</button>
          <button data-toggle="tooltip" data-placement="bottom" title="Save in localStorage" type="button" class="btn btn-primary"
                  (click)="saveCanvasToJSON();">
            <i class="fa fa-save" aria-hidden="true"></i> Save local</button>
          <button data-toggle="tooltip" data-placement="bottom" title="Load from localStorage" type="button" class="btn btn-primary"
                  (click)="loadCanvasFromJSON();">
            <i class="fa fa-save" aria-hidden="true"></i> Load local</button>
          <button data-toggle="tooltip" data-placement="bottom" title="Clean Canvas" type="button" class="btn btn-danger" (click)="confirmClear();">
            <i class="fa fa-ban" aria-hidden="true"></i> Clean</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card left size" cdkDrag>
      <div class="drag-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      <div class="card-header">Size</div>
      <div class="card-body">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="configProps.width" (keyup)="adjustCanvasSize(configProps.width)">
            <div class="input-group-append">
                                <span class="input-group-text">
                                    Width
                                </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="configProps.height" (keyup)="adjustCanvasSize(configProps.height)">
            <div class="input-group-append">
                                <span class="input-group-text">
                                    Height
                                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card f left figure" cdkDrag>
      <div class="drag-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      <div class="card-header">Add figure</div>
      <div class="card-body text-center max-height">
        <div class="btn-group btn-group-vertical" role="group" aria-label="...">
          <button type="button" class="btn btn-primary" (click)="addFigure('rectangle');">Rectangle</button>
          <button type="button" class="btn btn-primary" (click)="addFigure('square');">Square</button>
          <button type="button" class="btn btn-primary" (click)="addFigure('triangle');">Triangle</button>
          <button type="button" class="btn btn-primary" (click)="addFigure('circle');">Circle</button>
          <button type="button" class="btn btn-primary" (click)="addFigure('ellipse');">Ellipse</button>
        </div>
      </div>
    </div>
    <div class="card f left free-draw" cdkDrag>
      <div class="drag-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      <div class="card-header">Free Drawing</div>
      <div class="card-body text-center">
        <div class="btn-group btn-group-vertical" role="group" aria-label="...">
          <button type="button" class="btn btn-primary" (click)="freeDrawing('select');">Select</button>
          <button type="button" class="btn btn-primary" (click)="freeDrawing('Pencil');">Pencil</button>
          <button type="button" class="btn btn-primary" (click)="freeDrawing('Spray');">Spray</button>
          <button type="button" class="btn btn-primary" (click)="freeDrawing('Circle');">Circle</button>
          <br>
          <div class="custom-item" *ngIf="drawingMode">
            <div class="custom-item-title">Stroke Size</div>
            <div class="custom-item-body">
              <input type="range" [(ngModel)]="configProps.brushStrokeSize" (change)="setBrushSize()" step="1" min="1" max="120">{{configProps.brushStrokeSize}}
            </div>
          </div>
          <div class="custom-item" *ngIf="drawingMode">
            <div class="custom-item-title">Brush Color</div>
            <div class="custom-item-body">
              <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="configProps.brushColor" [style.background]="configProps.brushColor"
                 [value]="configProps.brushColor" (colorPickerChange)="setBrushColor()">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card left text" cdkDrag>
      <div class="drag-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      <div class="card-header">Add text</div>
      <div class="card-body">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="textString">
          <div class="input-group-append">
            <span class="input-group-text">
                <button id="add-text" [disabled]="!textString" data-toggle="tooltip" data-placement="bottom" title="Add text" class="btn btn-primary" (click)="addText()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card right canvas-customize" *ngIf="!selected" cdkDrag>
      <div class="drag-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      <div class="card-header">Canvas</div>
      <div class="card-body">
        <div class="custom-item" *ngIf="!configProps.canvasImage">
          <div class="custom-item-title">Background Color</div>
          <div class="custom-item-body">
            <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="configProps.canvasFill" [style.background]="configProps.canvasFill"
                   [value]="configProps.canvasFill" (colorPickerChange)="setCanvasFill()">
          </div>
        </div>
        <div class="custom-item">
          <div class="custom-item-title">Background Image (url)</div>
          <div class="custom-item-body">
            <input type="text" class="form-control" placeholder="http://example.jpg" [(ngModel)]="configProps.canvasImage" (keyup)="setCanvasBgrImage()">
          </div>
        </div>
      </div>
    </div>
    <div class="card right upload-image" cdkDrag>
      <div class="drag-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      <div class="card-header">Upload Image</div>
      <div class="card-body text-center">
        <img id="testImage" *ngIf="url" class="images-item-upload" [src]="url" (click)="addImageOnCanvas(url);">
        <input type="file" (change)="readUrl($event);">
        <br/>
        <br/>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeWhite(url);">
              <i class="fa fa-times" aria-hidden="true"></i> Remove</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card right img-template-toggle" cdkDrag>
      <div class="card-header">Insert template</div>
      <div class="drag-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      <div class="card-body max-height">
        <button type="button" class="btn btn-primary" title="See Memes..." (click)="showMemeLibrary()">Show Image Library</button>
      </div>
    </div>
    <div *ngIf="showTemplateLib" class="card right image-templates" cdkDrag>
      <div class="card-header">Add memes</div>
      <div class="drag-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
        <button type="button" title="Close" (click)="showMemeLibrary()">
          <i class="fa fa-window-close"></i>
        </button>
      </div>
      <div class="card-body max-height">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/any_more_of_that.jpg">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/batman_slap.jpg">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/big_brain.jpg">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/blank_button.jpg">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/change_my_mind.jpg">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/drake.jpg">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/finding_neverland.jpg">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/is_this_a_pigeon.jpg">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/not_sure_if.jpg">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/one_does_not_simply.jpg">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/right_exit.jpg">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/seagull.jpg">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/skeptical_kid.jpg">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/think_about_it.jpg">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/trump_bill_signing.jpg">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/tuxedo_winnie.png">
        <img class="images-item" (click)="loadImageFromFile($event)" src="assets/img/templates/wtf_tom.jpg">
      </div>
    </div>

    <div class="card right custom" cdkDrag>
      <div class="drag-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      <div class="card-header">Customize</div>
      <div class="card-body">
        <div class="custom-item" *ngIf="selected  && selected.type == 'group'">Group Selected</div>
        <div class="custom-item" *ngIf="!selected">No items selected</div>
        <div class="custom-item" *ngIf="selected && selected.type != 'group'">
          <div class="custom-item-title">ID</div>
          <div class="custom-item-body">
            <input type="text" class="form-control" [(ngModel)]="configProps.id" (keyup)="setId()">
          </div>
        </div>
        <div class="custom-item" *ngIf="selected && selected.type != 'group'">
          <div class="custom-item-title">Opacity</div>
          <div class="custom-item-body">
            <input type="range" [(ngModel)]="configProps.opacity" (change)="setOpacity()">{{configProps.opacity}}</div>
        </div>
        <div class="custom-item" *ngIf="selected && textEditor || selected && figureEditor">
          <div class="custom-item-title">Fill</div>
          <div class="custom-item-body">
            <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="configProps.fill" [style.background]="configProps.fill"
                   [value]="configProps.fill" (colorPickerChange)="setFill()">
          </div>
        </div>
        <div class="custom-item" *ngIf="selected && textEditor">
          <div class="custom-item-title">Font family</div>
          <div class="custom-item-body">
            <select [(ngModel)]="configProps.fontFamily" class="form-control" (change)="setFontFamily()">
              <option value="arial">Arial</option>
              <option value="helvetica" selected>Helvetica</option>
              <option value="verdana">Verdana</option>
              <option value="courier">Courier</option>
              <option value="Roboto">Roboto</option>
              <option value="Open Sans">Open Sans</option>
              <option value="Zilla Slab">Zilla Slab</option>
              <option value="Lato">Lato</option>
              <option value="Bellefair">Bellefair</option>
              <option value="Fresca">Fresca</option>
              <option value="Raleway">Raleway</option>
              <option value="Open Sans Condensed">Open Sans Condensed</option>
              <option value="Indie Flower">Indie Flower</option>
              <option value="Josefin Sans">Josefin Sans</option>
              <option value="Inconsolata">Inconsolata</option>
              <option value="Pacifico">Pacifico</option>
              <option value="Gloria Hallelujah">Gloria Hallelujah</option>
            </select>
          </div>
        </div>
        <div class="custom-item" *ngIf="selected && textEditor">
          <div class="custom-item-title">Text Align</div>
          <div class="custom-item-body text-center">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-primary" [ngClass]="{'active': configProps.textAlign == 'left' }" (click)="setTextAlign('left')">
                <i class="fa fa-align-left"></i>
              </button>
              <button type="button" class="btn btn-primary" [ngClass]="{'active': configProps.textAlign == 'center' }" (click)="setTextAlign('center')">
                <i class="fa fa-align-center"></i>
              </button>
              <button type="button" class="btn btn-primary" [ngClass]="{'active': configProps.textAlign == 'right' }" (click)="setTextAlign('right')">
                <i class="fa fa-align-right"></i>
              </button>
              <button type="button" class="btn btn-primary" [ngClass]="{'active': configProps.textAlign == 'justify' }" (click)="setTextAlign('justify')">
                <i class="fa fa-align-justify"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="custom-item" *ngIf="selected && textEditor">
          <div class="custom-item-title">Style</div>
          <div class="custom-item-body text-center">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': configProps.fontWeight }" (click)="setBold()">
                <i class="fa fa-bold"></i>
              </button>
              <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': configProps.fontStyle }" (click)="setFontStyle()">
                <i class="fa fa-italic"></i>
              </button>
              <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('underline') }"
                      (click)="setTextDecoration('underline')">
                <i class="fa fa-underline"></i>
              </button>
              <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('overline') }"
                      (click)="setTextDecoration('overline')">
                <i class="fa fa-underline fa-flip-vertical"></i>
              </button>
              <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('line-through') }"
                      (click)="setTextDecoration('line-through')">
                <i class="fa fa-strikethrough"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="custom-item" *ngIf="selected && textEditor">
          <div class="custom-item-title">Font Size</div>
          <div class="custom-item-body">
            <input type="range" [(ngModel)]="configProps.fontSize" (change)="setFontSize()" step="1" min="1" max="120">{{configProps.fontSize}}</div>
        </div>
        <div class="custom-item" *ngIf="selected && textEditor">
          <div class="custom-item-title">Line Height</div>
          <div class="custom-item-body">
            <input type="range" [(ngModel)]="configProps.lineHeight" (change)="setLineHeight()" step="0.1" min="0" max="10">{{configProps.lineHeight}}</div>
        </div>
        <div class="custom-item" *ngIf="selected && textEditor">
          <div class="custom-item-title">Char Spacing</div>
          <div class="custom-item-body">
            <input type="range" [(ngModel)]="configProps.charSpacing" (change)="setCharSpacing()" step="10" min="-200" max="800">{{configProps.charSpacing}}</div>
        </div>
      </div>
    </div>
    <div class="card left options" cdkDrag>
      <div class="drag-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      <div class="card-header">Options</div>
      <div class="card-body text-center">
        <div class="btn-group" role="group" aria-label="...">
          <button data-toggle="tooltip" data-placement="bottom" title="Delete element" type="button" class="btn btn-outline-danger" [disabled]="!selected"
                  (click)="removeSelected();">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
          <button data-toggle="tooltip" data-placement="bottom" title="Send to back" type="button" class="btn btn-outline-primary" [disabled]="!selected"
                  (click)="sendToBack();">
            <i class="fa fa-level-down" aria-hidden="true"></i>
          </button>
          <button data-toggle="tooltip" data-placement="bottom" title="Send to front" type="button" class="btn btn-outline-primary" [disabled]="!selected"
                  (click)="bringToFront();">
            <i class="fa fa-level-up" aria-hidden="true"></i>
          </button>
          <button data-toggle="tooltip" data-placement="bottom" title="Clone" type="button" class="btn btn-outline-primary" [disabled]="!selected || selected.type == 'group'"
                  (click)="clone();">
            <i class="fa fa-clone" aria-hidden="true"></i>
          </button>
          <button data-toggle="tooltip" data-placement="bottom" title="Unselect" type="button" class="btn btn-outline-primary" [disabled]="!selected"
                  (click)="cleanSelect()">
            <i class="fa fa-remove" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <section class="draw-space">
      <canvas id="drawing-board" width="1280" height="1024"></canvas>
    </section>

  </div>
</div>
